<!DOCTYPE html>
<html>
  <head>
    <title>Web</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <% flash.each do |type, msg| %>
      <div>
        <%= msg %>
      </div>
    <% end %>
    <header>
      <h1>Image Sync</h1>
      <nav>
        <% if user_signed_in? %>
          <%= link_to "Collections", collections_path %>
          <% if current_user.admin? %>
            <%= link_to "Oauth Applications", oauth_applications_path %>
          <% end %>
        <% else %>
          <%= link_to "Sign In", auth_path %>
        <% end %>
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
