<div>
  We just emailed you a six digit code, please enter it in the box below.
</div>

<%= form_with(url: auth_verifications_path, html: { class: "mt-6" }) do |f| %>
  <%= f.label :email do %>
    Email
    <%= link_to "Change", auth_path %>
  <% end %>
  <%= f.email_field :email, value: @email, placeholder: "you@email.com", disabled: true %>

  <%= f.label :email do %>
    Auth code
    <%= link_to "Re-send code", auth_path(email: @email), method: :post %>
  <% end %>
  <%= f.text_field :auth_code, maxlength: 6 %>

  <%= f.submit "Continue to your account" %>
<% end %>